// ********************* Variáveis ****************************

$corTabSelecionada: #0ba4e7;
$corTabHover:  #0ba4e7;
$corTabSelecionadaDetalhe:  #FFFFFF;
$corTextoTab: #ffffff;
$tamanhoFonteTab: 1.0em;
$corFundoTexto: #FCFCFC;
$tamanhoFonteTexto: 0.9em;
// ************************************************************






.wrapper-tab {
	margin: 30px 0;
	overflow: hidden;
	width: 100%;
}

.tab-vertical {
	float: left;
	width: 30%;

		li{
			text-decoration: none;
			font-family: $regular;
			color: $corTextoTab;
			padding-left: 15%;
			font-size: $tamanhoFonteTab;
		}
}


.tab-vertical-link:first-child.selected, .tab-vertical-link:first-child:hover {
	border-radius: 5px 5px 0 0;
}
.tab-vertical-link:hover {
	background: $corTabHover;
}


.tab-vertical-link.selected{
	
	background: $corTabSelecionada;
	
	&:after{
		content: '';
		border-style: solid;
		border-width: 6px 6px 6px 0;
		border-color: transparent $corTabSelecionadaDetalhe;
		display: block;
		width: 0;
		z-index: 1;
		right: 0px;
		top: -15px;
		position: relative;
		float: right;
	}

}
.tab-vertical-link:first-child {
	border-top: none;
}
.tab-vertical-link {
	
	background: rgb(41,148,220); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(41,148,220,1) 2%, rgba(29,141,213,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgba(41,148,220,1)), color-stop(100%,rgba(29,141,213,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(41,148,220,1) 2%,rgba(29,141,213,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(41,148,220,1) 2%,rgba(29,141,213,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(41,148,220,1) 2%,rgba(29,141,213,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(41,148,220,1) 2%,rgba(29,141,213,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2994dc', endColorstr='#1d8dd5',GradientType=0 ); /* IE6-9 */


	border-top: 1px solid #1c8cd4;
	display: block;
	height: auto;
	list-style-type: none;
	padding: 9px 0;
	text-decoration: none;
	vertical-align: bottom;
	width: 100%;
}

.main-tab-vertical {
	background-color: $corFundoTexto;
	float: right;
	margin: 0;
	padding: 10px 20px;
	width:	68%;

			p{
				font-family: $regular;
				font-size: $tamanhoFonteTexto;
			}

}

.tab-ver:first-child {
	display: block;
}

*, :after, :before {
	box-sizing: border-box;
}

.tabelaVertical{

	
		list-style:none;

	
}