#indice{
	position: absolute;
	top: 50px;
	min-width: 980px;
	max-width: 30630px;
	height: 430px;
	padding: 1px 1px 1px 40px;
}

.menuIndice ol > li {
	position: relative;
	list-style: none;
	margin-bottom: 20px;
	padding-left: 5px;
}


.menuIndice{
	overflow: hidden;
	display:block;
	position: absolute;
	background: rgba(126, 126, 126, 0.6);
	width: 980px;
	height: 540px;
	top: 63px;
	left: 21px;
	z-index: 15;

	.avancarIndice{
		position: absolute;
		cursor: pointer;
		right: 5px;
		top: 50%;
		margin-top: -12.5px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 25px 0 25px 25px;
		border-color: transparent transparent transparent $baseColor;
		z-index: 9999;
		&:hover{
			border-color: transparent transparent transparent $corClara2;
		}
		&:active{
			border-color: transparent transparent transparent $indiceVisitado;
		}
	}

	.voltarIndice{
		position: absolute;
		cursor:pointer;
		left: 5px;
		top: 50%;
		margin-top: -12.5px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 25px 25px 25px 0;
		border-color: transparent $baseColor transparent transparent;
		z-index: 9999;
		&:hover{
			border-color: transparent $corClara2 transparent transparent;
		}
		&:active{
			border-color: transparent $indiceVisitado transparent transparent;
		}
	}


	ol{
		float: left;
		position: relative;
		counter-reset: li; /* Initiate a counter */
		list-style: none; /* Remove default numbering */
		*list-style: decimal-leading-zero;

		-moz-column-width: 245px; /* Firefox */
		-webkit-column-width: 245px; /* Safari and Chrome */
		column-width: 245px;

		-moz-column-gap: 40px;
		-webkit-column-gap:40px;
	    column-gap:40px;

		.indiceDesativado{
			pointer-events: none;
			cursor: default;
			h3{
				color:#ccc;
			}
		}

		.indiceVisitado{
			background: $indiceVisitado;
			h3{
				color:black;
			}
		}

		.indiceAtual{
			background: $baseColor ;
			h3{
				color:white;
			}
		}
		
	    
    li{
    	cursor:pointer;
    	padding-left: 10px;
    	padding-top: 6px;
    	width: 246px;
    	height: 30px;
    	background:#efefef;
    	margin-bottom: 8px;
    	margin-left:0px;
    	border-radius: 3px;
    	-webkit-border-radius: 5px;
    	-moz-border-radius: 5px;

    	h3{
    		font-family: $fontePadrao;
    		font-size: 13px;
    		margin: 0;
    		font-weight: normal;
    		padding-left: 35px;
    	}

    	&:before{
    		color:#0F3B69;
    		width: 35px;
    		height: 30px;
    		content:counter(li);
    		counter-increment:li;
    		background:#fff;
    		position:absolute;
    		top: -1px;
    		left: -1px;
    		text-align: center;
    		padding-top: 5px;
    		box-sizing: border-box;
    		-webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.6);
    		-moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.6);
    		box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.6);
    		border-radius: 3px;
    		-webkit-border-radius: 3px;
    		-moz-border-radius: 3px;
    	}

    	&:hover{
    		margin-left: 10px;
    		border:1px solid #89A8C8;

    		&:before{
    			border:1px solid #89A8C8;

    		}
    	}
    }

}

}