/* line 1, ../sass/general/funcionais.scss */
body {
  overflow-x: hidden;
  overflow-y: hidden;
}

/* line 6, ../sass/general/funcionais.scss */
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}

/* line 12, ../sass/general/funcionais.scss */
.swipe-wrap {
  overflow: hidden;
  position: relative;
  height: 100%;
}

/* line 18, ../sass/general/funcionais.scss */
.swipe-wrap > div {
  float: left;
  width: 100%;
  height: 100%;
  position: relative;
}

/* line 25, ../sass/general/funcionais.scss */
.mobile .swipe-wrap > div {
  overflow: auto;
}

/* line 29, ../sass/general/funcionais.scss */
#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  display: none;
}

/* line 39, ../sass/general/funcionais.scss */
#modal.transFadeOut {
  display: none;
}

/* line 43, ../sass/general/funcionais.scss */
#modal.transFadeIn {
  display: block;
}

/* line 47, ../sass/general/funcionais.scss */
#modalOverlay {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
}

/* line 54, ../sass/general/funcionais.scss */
#modalContent {
  position: relative;
}

/* line 58, ../sass/general/funcionais.scss */
.primeiroPlano {
  z-index: 2;
}

/* line 62, ../sass/general/funcionais.scss */
.tipsy-inner {
  padding: 5px 7px;
  max-width: 200px;
  border: 4px solid #FFF;
  background-color: #eaeeed;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  color: black;
  text-align: center;
}

/* Rounded corners */
/* Uncomment for shadow */
/*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/
/* line 80, ../sass/general/funcionais.scss */
.tipsy-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border: 5px dashed #000;
  line-height: 0;
}

/* Rules to colour arrows */
/* line 89, ../sass/general/funcionais.scss */
.tipsy-arrow-s {
  border-top-color: #FFF;
}

/* line 93, ../sass/general/funcionais.scss */
.tipsy-s .tipsy-arrow {
  bottom: 10px;
  left: 50%;
  margin-left: -5px;
  border-top-style: solid;
  border-right-color: transparent;
  border-bottom: none;
  border-left-color: transparent;
}

/* line 103, ../sass/general/funcionais.scss */
#overlayModal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 111, ../sass/general/funcionais.scss */
#wrapperModalCont {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
