$caixa_largura: 582px; // 582px para duas colunas. 302px para uma coluna.

.texto{
	@include border-radius;
	@include box-shadow;
	width: $caixa_largura;
}

//------------------------ NORMAL ------------------------

.normal{

}

.normal.comFundo{
	background: #ffffff;
}

.normal.semFundo{
	background: none;
	border: none;
	box-shadow: none;
	padding: 0;
}

//------------------------ TÍTULO ------------------------

.titulo{
	background: none;
    border: none;
    box-shadow: none;
	//Conteúdo encontra-se no base.css
}

.titulo.primario{
	//Conteúdo encontra-se no base.css
}

.titulo.secundario{
	//Conteúdo encontra-se no base.css
}


//------------------------ BALAO ------------------------

.balao{
	background: #ffffff;
	$balao_pontaAltura: 20%;
	&:after{
		content: '';
		position: absolute;
		border-style: solid;
		border-color: transparent #FFFFFF;
		display: block;
		width: 0;
		z-index: 1;
		bottom: $balao_pontaAltura;
	}
	&:before{
		content: '';
		position: absolute;
		border-style: solid;
		border-color: transparent #b9b8b8;
		display: block;
		width: 0;
		z-index: 0;
		bottom: $balao_pontaAltura;
	}
}

.balao.right{
	@extend .balao;
	&:after{
		border-width: 12px 0 12px 11px;
		right: -10px;
	}
	&:before{
		border-width: 12px 0 12px 11px;
		right: -11px;
	}
}

.balao.left{
	@extend .balao;
	&:after{
		border-width: 12px 11px 12px 0;
		left: -11px;
	}
	&:before{
		border-width: 12px 11px 12px 0;
		left: -12px;
	}
}


//------------------------ MOBILE ------------------------

.texto.mobile{
	@include box-shadow(0, 0, 0, 0);
	position: relative;
	border-radius: 0px;
	font-size: 12px;
	padding: 19px 19px;
	width: 95%;
	margin: 10px auto;
}

.balao.mobile{
	&:after{
		border-color: rgba(136, 183, 213, 0);
		border-bottom-color: #ffffff;
		border-width: 13px;
		margin-left: -13px;
		bottom: auto;
		top: -26px;
		left: 50%;
	}
	&:before{
		border-color: rgba(194, 225, 245, 0);
		border-bottom-color: #b9b8b8;
		border-width: 14px;
		margin-left: -14px;
		bottom: auto;
		top: -28px;
		left: 50%;
	}
}