// ************************ Variáveis ************************************

$corBarra: $azul;
$larguraSanfona: 50%;
$corTitulo: #fff;
$corTexto: #626161;

// ***********************************************************************
.sanfona{
	margin-bottom: $entreRecursos;
}
.ui-accordion{

	
	.ui-accordion-header {
		background: $normal; /* Old browsers */
		display: block;
		cursor: pointer;
		position: relative;
		margin-top: 2px;
		padding: .5em .5em .5em .7em;
		min-height: 0; /* support: IE7 */
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		color:	$corTitulo;
		cursor: pointer;
		display: block;
		font-family: $fonteExo;
		font-size: 16px;
		font-weight: 400;
		height: 40px;
		position: relative;
		z-index: 1;
		margin-bottom: 1px;
		outline: none;

		.tituloSanfona{
			position: absolute;
			font-size: 14px;
			font-weight: 400;
			top: 10px;
			left: 50px;
		}
		.icon-acc{
			font-family: 'Entypo';
			font-size: 40px;
			/* position: absolute; */
			/* top: 0; */
			/* left: 17px; */
			/* line-height: 19px; */
			padding-top: -81px;
			position: absolute;
			top: -11px;
			left: 19px;
		}
		&:first-child{
		border-radius: 3px 3px 0 0;
		}
	}

	.ui-accordion-header.ui-accordion-header-active {
		background: $selected;
		span{
			color: $normal;
		}
	}

	.ui-accordion-content {
		@include border-bottom-radius(5px);
		border: 1px solid $selected;
		padding: 1em 2.2em;
		border-top: 0;
		background:#fff;
		margin-bottom: -1px;
		line-height: 18px;
		color: #373838;
		width: 99.9%;
		overflow:hidden;
		margin-top: -2px;
	}

	.ui-accordion-content.ui-helper-reset.ui-widget-content.ui-corner-bottom{
		margin-bottom: 7px;
		overflow:hidden;
		p{
			font-size: 16px !important;

		}
	}

} 
