@import "../../_estiloPadrao.scss";

.caixaDestaque{
	@include border-radius(5px);
	background: $normal;
	width:100%;
	box-sizing: border-box;
	word-break:break-all;
	margin-bottom: $entreRecursos;
	padding: 0 !important;

	.iconDestaque{
		position: relative;
		width: 25%;
		height: 100%;
		display: table-cell;
		text-align: center;
		vertical-align: middle;	
		.icon{
			width: 100%;
			color: #FFFFFF;
		}

		&:after{
			content: "";
			position: absolute;
			right: 0;
			height: 50%;
			top: 25%;
			width: 2px;
			background: #FFFFFF;
		}
	}	

	.contentDestaque{
		position: relative;
		width: 75%;
		height: 100%;
		font-family: $regular;
		font-size: 18px;
		color: #FFFFFF;
		display: table-cell;
		text-align: center;
		vertical-align: middle;	
		padding: 20px;
		p{
			width: 100%;
			margin: 0;
		}
	}
}

.caixaDestaque.laranja{
	background:#2b95dd;
}
