$caixaDestaque_largura: 262px;

.caixaDestaque{
	@include border-radius(0);
	@include box-shadow;
	position: absolute;
	border: solid 1px $baseColor;
	width: $caixaDestaque_largura;

	.tituloCaixaDestaque {
		background: $baseColor;
		font-size: 14px;
		color: fontColor();
		border-bottom: 2px solid #FFF;
		h2{
			padding: 17px 0px 17px 0px;
			font-weight: normal;
		}
		padding: {
			left: 65px;
			right: 15px;
		}
	}

	.textoCaixaDestaque {
		background: $baseColorLighten2;
		color: #ffffff;
		.tagP{
			font-size: 14px;
		}
	}

	.iconDestaque{
		position:absolute;
		height:52px;
		width:52px;
	}

	.ajuda, .destaque, .exemplo, .informacao, .objetivo, .pratique, .prepare-se, .saibaMais, .dica, .importante, .programe-se, .atencao{
		position: absolute;
		top: 8px;
		left: 8px;
		font-size: 35px;
		color: #ffffff;
	}
}

//********************** ESTILO 1***************************




