div.audio{
	//estilos importados do _base
	.vjs-error{
		border: 1px solid #ffffff;
	}

	.vjs-control-bar{
		.vjs-play-progress, .vjs-volume-level{
			background: $baseColor url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAP0lEQVQIHWWMAQoAIAgDR/QJ/Ub//04+w7ZICBwcOg5FZi5iBB82AGzixEglJrd4TVK5XUJpskSTEvpdFzX9AB2pGziSQcvAAAAAAElFTkSuQmCC) -50% 0 repeat;
		}
	}
}

div.noContent{
	div.audio{
		background: #e7e7e7;
		border: 1px solid #b3b3b3;
		.glyphicon{
			display: block;
			position: absolute;
			font-size: 20px;
			margin-left: -10px;
			left: 50%;
			top: 4px;
		}
		.video-js,
		.vjs-poster,
		.vjs-text-track-display,
		.vjs-loading-spinner,
		.vjs-big-play-button,
		.vjs-control-bar,
		.vjs-error-display{
			display: none;
		}
	}
}

div.audio{
	
	&.noContent{
		.glyphicon{
			display: block;
			position: absolute;
			font-size: 20px;
			margin-left: -10px;
			left: 50%;
			top: 4px;
		}
		.vjs-poster,
		.vjs-text-track-display,
		.vjs-loading-spinner,
		.vjs-big-play-button,
		.vjs-control-bar,
		.vjs-error-display{
			display: none;
		}
	}
}