.btPular{
	font-size: 6.4em;
	color:#000;
	text-decoration:none;

	  margin: 40px auto;
  display: table;

	&:hover{
		color:$hover;
		text-decoration:none;
	}

	&:active{
		text-decoration: none;
	}

	&:focus{
		text-decoration: none;
		color:initial;
	}


}

.btPular.branco{
	color:#fff;
	&:hover{
		color:$hover;

	}
}
