$caixa_largura: 582px; // tamanho 1 - 302px; tamanho 2 - 582px;
$balao_pontaAltura: 15px;

.texto{
	font-family: $fontePadrao;
	width: $caixa_largura;
	color: #000000;
	p{
		margin-top: 0px;
	}
}

//------------------------ NORMAL ------------------------

.normal{
}

.normal.comFundo{
	@include opacityBackground;
}

.normal.semFundo{
	background: none;
}

//------------------------ TÍTULO ------------------------

.titulo{
	background: none;
    border: none;
    box-shadow: none;
	//Conteúdo encontra-se no base.css
}

.titulo.primario{
	//Conteúdo encontra-se no base.css
}

.titulo.secundario{
	//Conteúdo encontra-se no base.css
}

//------------------------ BALAO ------------------------

.balao {
	@include box-shadow;
	position: absolute;
	padding: 20px 33px;
	background: #FFFFFF;
	border: #b9b8b8 solid 1px;
	&:after {
		content: '';
		position: absolute;
		border-style: solid;
		border-color: #FFFFFF transparent;
		display: block;
		width: 0;
		z-index: 1;
	}

	&:before {
		content: '';
		position: absolute;
		border-style: solid;
		border-color: #b8b8b8 transparent;
		display: block;
		width: 0;
		z-index: 0;
	}
}

.balao.left{
	&:after{
		border-width: 23px 0 0 23px;
		left: -23px;
		bottom: $balao_pontaAltura;
	}
	&:before{
		border-width: 25px 0 0 25px;
		left: -25px;
		bottom: $balao_pontaAltura - 1px;
	}
}

.balao.right{
	&:after{
		border-width: 23px 23px 0px 0px;
		right: -23px;
		bottom: $balao_pontaAltura + 2px;
	}
	&:before{
		border-width: 26px 25px 0px 0px;
		right: -25px;
		bottom: $balao_pontaAltura;
	}
}