body{
    //remove o "quadrado branco(bug)" da modal.
    .animate{
        -webkit-transform: none;
        -webkit-animation-fill-mode: none;
        -moz-animation-fill-mode: none;
        -ms-animation-fill-mode: none;
        -o-animation-fill-mode: none;
        animation-fill-mode: none;
    }
}