@import "variaveis.scss";
@import "../../../../_baseClient/_base/css/sass/mixins";

@font-face {
    font-family: 'OpenSansRegular';
    src: url('assets/fonts/OpenSans-Regular.eot');
    src: url('assets/fonts/OpenSans-Regular.eot') format('embedded-opentype'),
         url('assets/fonts/OpenSans-Regular.ttf') format('truetype'),
         url('assets/fonts/OpenSans-Regular.svg#OpenSansRegular') format('svg');
}

@font-face {
    font-family: 'OpenSansBold';
    src: url('assets/fonts/OpenSans-Bold.eot');
    src: url('assets/fonts/OpenSans-Bold.eot') format('embedded-opentype'),
         url('assets/fonts/OpenSans-Bold.ttf') format('truetype'),
         url('assets/fonts/OpenSans-Bold.svg#OpenSansRegular') format('svg');
}

//paleta de cores
$azul:#2b95dd;
$laranja:#f59e00;
$cinza:#eaeaea;
$preto:383737;
$verde:#24aa98;
$vermelho:#db7560;
 

//fonts

$fonteExo:'Exo 2', sans-serif;
$fonteOpenSans:'Open Sans', sans-serif;



@font-face {
  font-family: 'Entypo';
  src: url('assets/fonts/entypo.eot');
  src: url('assets/fonts/entypo.woff') format("woff"),
    url('assets/fonts/entypo.otf') format("opentype"),
    url('assets/fonts/entypo.svg#entypo') format("svg");

}

@font-face {
  font-family: 'Entypo-Social';
  src: url('assets/fonts/entypo-social.eot');
  src: url('assets/fonts/entypo-social.woff') format("woff"),
    url("assets/fonts/entypo-social.otf") format("opentype"),
    url('assets/fonts/entypo-social.svg#entypo-social') format("svg");

}


@font-face {
    font-family: pv-agr-prec;
    src: url(assets/fonts/pv-agr-prec.eot?od9cwi);
    src: url(assets/fonts/pv-agr-prec.eot?#iefixod9cwi) format('embedded-opentype'), url(assets/fonts/pv-agr-prec.woff?od9cwi) format('woff'), url(assets/fonts/pv-agr-prec.ttf?od9cwi) format('truetype'), url(../fonts/pv-agr-prec.svg?od9cwi#pv-agr-prec) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: icomoon;
    src: url(assets/fonts/icomoon.eot?tpg7s4);
    src: url(assets/fonts/icomoon.eot?#iefixtpg7s4) format('embedded-opentype'), url(assets/fonts/icomoon.woff?tpg7s4) format('woff'), url(assets/fonts/icomoon.ttf?tpg7s4) format('truetype'), url(../fonts/icomoon.svg?tpg7s4#icomoon) format('svg');
    font-weight: 400;
    font-style: normal
}


@font-face {
  font-family: 'Entypo';
  src: url('assets/fonts/entypo.eot');
  src: url('assets/fonts/entypo.woff') format("woff"),
    url('assets/fonts/entypo.otf') format("opentype"),
    url('assets/fonts/entypo.svg#entypo') format("svg");

}


@font-face {
  font-family: 'Awesome';
  src: url('assets/fonts/fontawesome-webfont.eot');
  src: url('assets/fonts/fontawesome-webfont.woff') format("woff"),
    url('assets/fonts/FontAwesome.otf') format("opentype"),
    url('assets/fonts/fontawesome-webfont.svg#fontawesome-webfont') format("svg");

}

@font-face {
font-family: 'Exo 2', sans-serif;
src: url('assets/fonts/Exo2-Regular.eot');
src: url('assets/fonts/Exo2-Regular.ttf') format("truetype"),
     url('assets/fonts/Exo2-Regular.svg') format("svg");
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
  font-family: 'Exo 2', sans-serif;
  src: url('assets/fonts/Exo2-Regular.svg') format("svg");
  }
}


$pastaIconPadrao: url('assets/images/icons-s590e5db6d4.png') no-repeat; // Importante saber
$amountDarken: 2%;
$amountLighten: 4%;
$corEscura: darken($baseColor, $amountDarken);
$corClara: lighten($baseColor, $amountLighten);
$corClara2: lighten($baseColor, 7%);


// mobile
$corMobile : darken($baseColor, 10%);
$corMobileDesativado : darken($baseColor, 30%);
$corMobile1 : saturate($baseColor, 15%);

$indiceVisitado: lighten($baseColor, 20%);
