$r:218;    
$g:180;    
$b:99;  

$rgb : $r + $g + $b;
$baseColor: rgb($r, $g, $b);  

$normal: #30317f;
$hover: #dab463;
$active: $normal;
$selected: $hover;
$visited: #e9d2a1;
$disabled: #ccc6bc;

@function fontColor() {
  @if $rgb/3 > 178{
    @return #000000;
  } @else {
    @return #ffffff;
  }
}
 
//-------------------------- FONTE ------------------------------- 
$fontePadrao: OpenSansRegular, sans-serif;

//-------------------------- LOGO ------------------------------- 
$logo: url("assets/images/logo.png") no-repeat;

//-------------------------- BACKGROUND SLIDE  ------------------------------- 
$background_atividade: url(assets/images/background_atividade.png);


// --------------------------- Entre Recursos margin ---------------------------

$entreRecursos: 40px;