@font-face {
    font-family: 'Roboto-Regular';
    src: url('assets/fonts/roboto/Roboto-Regular/Roboto-Regular.eot?#iefix') format('embedded-opentype'),  
         url('assets/fonts/roboto/Roboto-Regular/Roboto-Regular.woff') format('woff'), 
         url('assets/fonts/roboto/Roboto-Regular/Roboto-Regular.ttf')  format('truetype'), 
         url('assets/fonts/roboto/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoCondensed-Bold';
    src: url('assets/fonts/roboto/RobotoCondensed-Bold/RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),  
         url('assets/fonts/roboto/RobotoCondensed-Bold/RobotoCondensed-Bold.woff') format('woff'), 
         url('assets/fonts/roboto/RobotoCondensed-Bold/RobotoCondensed-Bold.ttf')  format('truetype'), 
         url('assets/fonts/roboto/RobotoCondensed-Bold/RobotoCondensed-Bold.svg#RobotoCondensed-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

.wrapper{
	position: relative;
	width: 980px;
	margin: 0 auto;
}

/************ TOP ************/
.top{
	position: relative;
	width: 100%;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fee4b8+0,ffffff+72,ffffff+72,ffffff+73,ffffff+79,ffffff+100 */
	background: #fee4b8; /* Old browsers */
	background: -moz-linear-gradient(left,  #fee4b8 0%, #ffffff 72%, #ffffff 72%, #ffffff 73%, #ffffff 79%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #fee4b8 0%,#ffffff 72%,#ffffff 72%,#ffffff 73%,#ffffff 79%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #fee4b8 0%,#ffffff 72%,#ffffff 72%,#ffffff 73%,#ffffff 79%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee4b8', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
	-webkit-box-shadow: 2px 2px 11px 0px rgba(50, 50, 50, 0.1);
	-moz-box-shadow:    2px 2px 11px 0px rgba(50, 50, 50, 0.1);
	box-shadow:         2px 2px 11px 0px rgba(50, 50, 50, 0.1);
	padding: 15px 0px 15px 0px;
}

.top h2{
	font-family: RobotoCondensed-Bold, sans-serif;
	color: #2f3275;
	font-size: 24px;
	margin: 0;
	width: 400px;
	margin-left: 210px;
}
.top .logo{
	position: absolute;
	right: 50px;
	top: 5px;
}

.top .menu{
	position: absolute;
	bottom: 10px;
	right: 10px;
	/*cursor: pointer;*/
}

/************ MIDDLE ************/
.middle{
	position: relative;
	height: 500px;
	margin-top: 30px;
}

.middle .leftContent{
	position: relative;
	height:100%;
	width: 750px;
	float: left;
}

.boxLeftContent{
	position: relative;
	height: 400px;
	width: 700px;
	/*background: #fee4b8;*/
	background: #fee4b8; /* Old browsers */
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fee4b8+30,f9efe0+100 */
	background: #fee4b8; /* Old browsers */
	background: -moz-linear-gradient(left,  #fee4b8 30%, #f9efe0 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #fee4b8 30%,#f9efe0 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #fee4b8 30%,#f9efe0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee4b8', endColorstr='#f9efe0',GradientType=1 ); /* IE6-9 */
	border: 2px solid #cbccdd;
	border-radius: 10px;
	margin: 0 auto;
}

.boxLeftContent h2{
	position: absolute;
	width: 310px;
	left: 50%;
	margin-left: -155px;
	font-family: RobotoCondensed-Bold, sans-serif;
	color: #2f3275;
	text-transform: uppercase;

}

.boxBtns{
	position: absolute;
	top: 40px;
}

.boxBtns span{
	font-family: RobotoCondensed-Bold, sans-serif;
	color: #000000;
}

.boxLeftContent .btn{
	position: relative;
	height: 100px;
	width: 140px;
	font-family: RobotoCondensed-Bold, sans-serif;
	color: #000000;
	font-size: 14px;
}

.boxLeftContent .btn:hover{
	font-weight: bold;
	font-size: 15px;
}

.boxLeftContent .btn .fundoBtn{
	position: absolute;
	bottom: 0px;	
	left: 10px;
	-webkit-box-shadow: 2px 2px 11px 0px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    2px 2px 11px 0px rgba(50, 50, 50, 0.3);
	box-shadow:         2px 2px 11px 0px rgba(50, 50, 50, 0.3);
}

.boxLeftContent .btn .middleIcon{
	position: absolute;
	left: 37px;
	z-index: 1;
}

.boxLeftContent .btn span{
	position: absolute;
	bottom: 0px;
	height: 50px;
	width: 127px;
	text-align: center;
	left: 8px;
	text-transform: uppercase;
}

/*Edição dos botões manualmente, para deixar todos padronizados visualmente*/

/*INICIO*/
.inicio{
	width: 106px;
	display: block;
	text-align: center;
	font-size: 14px;
	margin-left: 22px;
}

/*SOBRE*/
.btn.sobre .fundoBtn{
	bottom: 17px;
}

.btn.sobre span{
	bottom: 12px;
}

/*DESAFIO*/
.btn.desafio .middleIcon{
	top: 10px;
	left: 47px;
}
.btn.desafio span{
	top: 65px
}

/*INTERAGINDO*/
.btn.interagindo .middleIcon{
	top: 5px;
	left: 27px;
}
.btn.interagindo span{
	top: 55px;
	left: 7px;
}

/*CONHECENDO*/
.btn.conhecendo .middleIcon{
	top: 13px;
	left: 48px;
}
.btn.conhecendo span{
	top: 55px;
	left: 9px;
}

/*LIVRO*/
.btn.livro .middleIcon{
	top: 6px;
	left: 52px;
}
.btn.livro span{
	top: 55px;
	left: 9px;
}

/*QUESTOES*/
.btn.questoes .middleIcon{
	top: -5px;
	left: 50px;
}
.btn.questoes span{
	top: 55px;
	left: 9px;
}

/*OPINIAO*/
.btn.opiniao .fundoBtn{
	bottom: 17px;
}

.btn.opiniao span{
	bottom: 12px;
}

.boxLeftContent .btn.linkLeft:after{
	content: "";
	position: absolute;
	right: -9px;
	top: 74px;
	width: 20px;
	height: 1px;
	border-top: 4px dotted #2f3275;
}

.boxLeftContent .btn.linkTop:before{
	content: "";
	position: absolute;
	top: 0px;
	right: 66px;
	height: 28px;
	width: 1px;
	border-left: 4px dotted #2f3275;
}

.boxLeftContent .btn.linkTop:last-child:before{
	top: 2px;
}

.boxLeftContent .linha2{
	float: left;
	margin-top: -10px;
}

.boxLeftContent .linha3{
	clear: both;
	float: right;
}

.middle .rightContent{
	position: relative;
	float: left;
	width: 230px;
}

.rightContent img{
	width: 100%;
	/*cursor: pointer;*/
}


/************ BOTTOM ************/
.bottom{
	position: relative;
	height: 50px;
	width: 705px;
	background: #d9d8d8;
	margin-left: 25px;
	font-family: RobotoCondensed-Bold, sans-serif;
	color: #000000;
}

.bottom .icon{
	float: left;
	margin-top: -30px;
	width: 140px;
	text-align: center;
}

.bottom .icon:hover{
	font-size: 17px;
}

.bottom .icon a{
	text-decoration: none;
	color: black;
	height: auto;
	width: auto;
	display: block;
}

.bottom .icon img{
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
	height: 40px;
	width: 40px;
}