.backgroundScroll
{
    position: relative;
    // height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    // position: absolute !important;

    padding: 0 !important;
    .backgroundBox
    {      
        position: relative;
        // height: 100%;
        background-position: center;
        // opacity: 0.5; 
        background-size: cover;
    }
    .backgroundBox.capa
    {
        .content
        {
            padding-top: 0;
        }
        .botaoPular
        {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }

    .imgBG
    {
        position: absolute;
    }

    .divBG{
        position: absolute;
    }
}

.backgroundScroll.capa
{
    height: 100%;
}

.backgroundScroll.secAtual{
    background: red !important;
}

.capa
{
    .contCapa
    {
        font-family: $regular;

        display: table-cell;

        padding-left: 170px;

        vertical-align: middle;
    }
    .nCapa
    {
        font-size: 3.4em;

        margin-bottom: 0;

        color: #fff;
    }
    .tituloCapa
    {
        font-size: 5em;
        line-height: 1.3em;

        color: #fff;
    }
    .descCapa
    {
        font-size: 1.8em;
        display: block;
        margin-right: 167px;
        margin-left: 235px;
        padding-left: 25px;
        color: #fff;
        border-left: 3px solid #fff;
    }
}

.contContraCapa
{
    display: table-cell;

    vertical-align: middle;

    color: #fff;
    .textoDownload
    {
        font-family: $bold;
        font-size: 1.6em;
    }
    .textoFinal
    {
        font-family: $bold;
        font-size: 1.6em;
    }
    .contRight
    {
        padding-right: 0;
        padding-left: 30px;
    }
}


.botoesNav
{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 177px;

    border-top: 2px #f4dfc1 solid;
    background: #dab463;
    .avancarNav
    {
        line-height: 60px;

        position: absolute;
        top: 60px;
        right: 15px;

        width: 250px;
        height: 60px;

        cursor: pointer;
        text-align: center;

        border-radius: 5px;
        background-color: #f4dfc1;
        span
        {

        	
            line-height: normal;

            display: inline-block;

            vertical-align: middle;

            max-width: 175px;
            font-size: 1.8em;
            margin-right: 45px;

            color:#000;

             b{
              	font-family: $regular;
              }

            &:before{
				position: absolute;
				right: 7px;
				font-size: 2.5em;
				top: 7px;
            }
        }
    }
    .voltarNav
    {
        line-height: 60px;

        position: absolute;
        top: 60px;
        left: 15px;

        width: 155px;
        height: 60px;

        cursor: pointer;
        text-align: center;

        border-radius: 5px;
        background-color: #f4dfc1;
        span
        {

        	
            line-height: normal;
            display: inline-block;
            vertical-align: middle;
            font-size: 1.8em;
            margin-left: 45px;

              color: #7C7C7C;

              b{
              	font-family: $regular;
              }


            &:before{
            	position: absolute;
				left: 7px;
				font-size: 2.5em;
				top: 7px;
            }
        }
    }
}
