.backgroundScroll{
	// position: absolute !important;
	padding: 0 !important; 
	// height: 100%;
	z-index: -1;
	top: 0;
	left: 0;

	position: relative;

	.backgroundBox{
		// height: 100%;
		background-position: center; 
		// opacity: 0.5; 
		background-size:cover;
	}

	.backgroundBox.capa{
		.content{
			padding-top:0;
		}

		.botaoPular{
			  position: absolute;
			  bottom: 0;
			  left: 0;
			  right: 0;
		}
	}

	.imgBG{
		position: absolute;
	}
} 

.backgroundScroll.capa{
	height:100%;
}

.capa{

	


	.contCapa{
		font-family: $regular;
		display: table-cell;
		vertical-align: middle;
		  padding-left: 170px;
	}
	.nCapa{
		font-size: 3.4em;
		color: #fff;
		margin-bottom: 0;
	}

	.tituloCapa{
		  font-size: 4.8em;
		  color: #fff;
		  line-height: 1.5em;
	}

	.descCapa{
		    font-weight: bold;
			font-size: 1.5em;
			color: #fff;
			margin-left: 235px;
			display: block;
			margin-right: 167px;
			border-left: 3px solid #fff;
			padding-left: 25px;
	}
}


