$gaveta_altura: 51px;
$gavetaTexto_largura: 486px;
//-----------------------------------------------
$gaveta_largura: 280px;
$atividadeGaveta_largura: $gavetaTexto_largura + $gaveta_largura + 45px;

.atividadeGaveta{
	@include border-radius;
	@include box-shadow;
	position: absolute;
	background: #ffffff;
	margin:0 auto;
	width: $atividadeGaveta_largura;
	min-widht: 500px;
	padding: 14px 15px 0px 15px;
	font-family: $fontePadrao;
}

.gaveta{
	display: inline-block;
	ul{
		li{
			@include border-radius;
			position: relative;
			behavior: none; 
			list-style-image: none;
			display: table;
			height: $gaveta_altura;
			width: $gaveta_largura;
			margin-bottom:10px;
			cursor: pointer;
			strong{
				display: table-cell;
				vertical-align: middle;
				text-align: center;
			}
		}
		li.visited{
			background: #eaeaea;
			&:after{
				content: "";
				height: 25px;
				width: 28px;
				background: $pastaIconPadrao 0px -179px;
				position:absolute;
				bottom: 7%;
				left:249px;
			}
		}

		li.actived{
			background: #eaeaea;
			&:before{
				content: "";
				width: 295px;
				background-color: #eaeaea;
				position:absolute;
				top: -4px;
				bottom: -4px;
				left: -4px;
				border-bottom: 1px solid #b9b8b8;
				border-left: 1px solid #b9b8b8;
				border-top: 1px solid #b9b8b8;
				z-index: -1;
			}
		}

		li:last-child{
			margin-bottom:15px;
		}
	}
}

.gavetaTexto{
	position: absolute;
	display: inline-block;
	top:15px;
	left: 296px;
	right: 15px;
	bottom:21px;
	margin-left: 15px;
	background-color: #ffffff;
	border: 1px solid #b9b8b8;
	overflow: hidden;
}

.gavetaTextoSelected{
	&:before{
		content: "";
		position: absolute;
		background-color: #eaeaea;
		border: 1px solid #b9b8b8;
		top: 11px;
		left: 307px;
		bottom: 17px;
		right: 11px;
	}
}
