.mbCanvas{
	width: 860px;
	height: 538px;
	// width: 980px;
	// height: 590px;
}

.capaEditor{
	background: url(assets/images/capaApplique.png) -59px 0px;
}

#imgPadraoSample{
	position: absolute;
	top: -59px;
	left: -128px;
}