@import "variaveis.scss";
@import "../../../_base/css/sass/mixins";

@font-face {
    font-family: 'Verdana';
    src: url('assets/fonts/verdana.eot');
    src: url('assets/fonts/verdana.eot') format('embedded-opentype'),
         url('assets/fonts/verdana.ttf') format('truetype'),
         url('assets/fonts/verdana.svg#verdana') format('svg');
}

@font-face {
    font-family: 'VerdanaB';
    src: url('assets/fonts/verdanab.eot');
    src: url('assets/fonts/verdanab.eot') format('embedded-opentype'),
         url('assets/fonts/verdanab.ttf') format('truetype'),
         url('assets/fonts/verdanab.svg#OpenSansRegular') format('svg');
}


$pastaIconPadrao: url('assets/images/sprite.png') no-repeat; // Importante saber
$amountDarken: 7%;
$amountLighten: 50%;


$baseColorLighten: change-color($baseColor, $lightness: 80%, $saturation: 27%);
$baseColorLighten2: change-color($baseColor, $lightness: 35%, $saturation: 47%);
$baseColorLighten3: change-color($baseColor, $lightness: 51%, $saturation: 30%);
$baseColorDarken: darken($baseColor, $amountDarken);
$baseColorDisabled: #ede9f1;
