@import "icon";
@import "resources/texto/style";
@import "resources/caixaDestaque/style";
@import "resources/imagem/style";
@import "resources/primeiroPlano/style";
@import "resources/gaveta/style";
@import "resources/video/style";
@import "resources/audio/style";
@import "resources/multimedia/style";
@import "resources/indice/style";
@import "resources/tooltip/style";
@import "../../../_base/css/sass/others/glyphicon";
 
.texto, .atividade, .caixaDestaque, .imagem, .respostaCerta, .respostaErrada{
    font-family: $fontePadrao;
}

.texto ul, .caixaDestaque ul{
	list-style-type: none;
	li{
		&:before{
			content: "■";
			color: $baseColor;
			margin-right: 5px;
		} 
	}
}

.texto ol, .caixaDestaque ol{
	li{
		&:before{
			color:$baseColor;
		}
	}
}
