@import "../../_estiloPadrao.scss";



// ********************* Variáveis ****************************

 $alturaBarra: 107px;
 $corFundo: #247eba;
 $corFonte: #FFF;





// ************************************************************


.tituloModulo{

	background: $corFundo;
	min-height: $alturaBarra;
	width:100%;
	border-bottom:15px solid $laranja;
	word-break:break-all;
	opacity:0;
	margin-bottom: $entreRecursos;

}


.textosTituloModulo {
 padding-top:30px;
 font-size:2em;
}

.tituloModuloTexto{
 margin-top: 2px;
 font-size:  1em;
 color: $corFonte;
 font-family: $fonteExo;
}

.subTituloModuloTexto{
 font-size: 0.7em;
 color: $corFonte;
 font-family: $fonteOpenSans;
 position: relative;
 top: -38px;
 margin:0;
 font-weight: 400;

}


