.faixaCapa2{
	display: inline-block;
	vertical-align: middle;
	width: 420px;
	background: $auxColor;
	margin-left: 135px;
	overflow: hidden;
	.texto.titulo.primario{
		position: relative;
		width: 100%;
		height: 100%;
		display: table;
		color: $baseColor;
  		vertical-align: middle;
  		 .tagP{
  		 	font-variant: small-caps;
  			font-family: $fontePadrao;
			font-size: 46px;
			font-weight: normal;
  			line-height: 60px;
  			margin: 20px;
  		}
	}
	&:before{
		@include box-shadow($x1:0px, $x2:0px, $x3:7px, $intensidade: 0.3);
		content: "";
		position: absolute;
		background: $auxColor;
		height: 538px;
		width: 420px;
		top: 0;
	}
}

.slideSubCapa{
	.faixaCapa{
		.texto{
			margin: 0 auto;
			.tagP{
				margin-left: 0px;
				line-height: 35px;
			}
		}
	}
}