@import "../../_estiloPadrao.scss";


.textarea{
	margin-bottom: $entreRecursos;
}

#myTextarea{
		width: 80%;
		max-height: 150px;
		border-radius: 6px;
		min-height: 104px;
		border: 1px solid #383737;
		outline:none;
		max-width: 790px;
		font-family: $fonteOpenSans;
		padding: 22px;
		font-size: 14px;

	&:active{
			border: 2px solid #2b95dd;
		}

		&:focus{
			border: 2px solid #2b95dd;
		}
}