@font-face {
  font-family: 'Entypo';
  src: url("assets/fonts/entypo.eot");
  src: url("assets/fonts/entypo.woff") format("woff"), url("assets/fonts/entypo.otf") format("opentype"), url("assets/fonts/entypo.svg#entypo") format("svg");
}

@font-face {
  font-family: 'Entypo-Social';
  src: url("assets/fonts/entypo-social.eot");
  src: url("assets/fonts/entypo-social.woff") format("woff"), url("assets/fonts/entypo-social.otf") format("opentype"), url("assets/fonts/entypo-social.svg#entypo-social") format("svg");
}

@font-face {
  font-family: pv-agr-prec;
  src: url(assets/fonts/pv-agr-prec.eot?od9cwi);
  src: url(assets/fonts/pv-agr-prec.eot?#iefixod9cwi) format("embedded-opentype"), url(assets/fonts/pv-agr-prec.woff?od9cwi) format("woff"), url(assets/fonts/pv-agr-prec.ttf?od9cwi) format("truetype"), url(../fonts/pv-agr-prec.svg?od9cwi#pv-agr-prec) format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: icomoon;
  src: url(assets/fonts/icomoon.eot?tpg7s4);
  src: url(assets/fonts/icomoon.eot?#iefixtpg7s4) format("embedded-opentype"), url(assets/fonts/icomoon.woff?tpg7s4) format("woff"), url(assets/fonts/icomoon.ttf?tpg7s4) format("truetype"), url(../fonts/icomoon.svg?tpg7s4#icomoon) format("svg");
  font-weight: 400;
  font-style: normal;
}
