.indice{
	@include opacityBackground;
	behavior: url(PIE.htc);
	border: solid 1px #ffffff;

	.indiceButton{
		position: absolute;
		height: 25px;
		width: 16px;
		top: 50%;
		margin-top: -13px;
		cursor:pointer;
	}

	.indiceAvancar{
		right:-9px;
		background: $pastaIconPadrao 0 -1167px;
		&:hover{
			top:50.5%;
			right:-10px;
			height: 21px;
			background: $pastaIconPadrao 0 -1234px;
		}
		&:active{
			opacity: 0.8;
		}
	}

	.indiceVoltar{
		left:-9px;
		background: $pastaIconPadrao 0 -1193px;
		&:hover{
			top:50.5%;
			left:-8px;
			height: 22px;
			background: $pastaIconPadrao 0 -1255px;
		}
		&:active{
			opacity: 0.8;
		}
	}

	.indiceAvancarDesativado{
		right:-9px;
		background: $pastaIconPadrao 0 -1167px;
		opacity: 0.6;
		cursor: auto;
	}

	.indiceVoltarDesativado{
		left:-9px;
		background: $pastaIconPadrao 0 -1193px;
		opacity: 0.6;
		cursor: auto;
	}

//------------------------------------ LISTA -------------------------------------------

	ol{
		padding:{
			left: 84px;
			top: 5px;
			bottom: 40px;
			right: 40px;
		}
		counter-reset: li; /* Initiate a counter */
		list-style: none; /* Remove default numbering */
		*list-style: decimal; /* Keep using default numbering for IE6/7 */

 		li{
 			line-height: 1.2em;
 			margin: 0;
 			padding: 0;			
 		}

 		.column1 { margin-left: 0; }
		.column2 { margin-left: 260px; }
		.column3 { margin-left: 520px; }

		.reset
		{
		  margin-top: -18.4em;
		}

		.topicoFinalizado{
			text-decoration: line-through;
		}

		.topicoDesativado{
			color: #9a9a9a;
			pointer-events: none;
			cursor: auto;
			&:before{
				@include linear-gradient(#a9a9a9, #a9a9a9, 0%, #c7c7c7, 50%, #afafaf, 40%, darken(#a9a9a9, $amountDarken*2), 100%);
			}
			&:hover{
				&:before{
					@include linear-gradient(#a9a9a9, #a9a9a9, 0%, #c7c7c7, 50%, #afafaf, 40%, darken(#a9a9a9, $amountDarken*2), 100%);
				}
			}
			&:active{
				&:before{
					@include linear-gradient(#a9a9a9, #a9a9a9, 0%, #c7c7c7, 50%, #afafaf, 40%, darken(#a9a9a9, $amountDarken*2), 100%);
					-webkit-box-shadow: none;
					-moz-box-shadow: none;
					box-shadow: none;
				}
			}
		}

		a{
			position: relative;
			display: block;
			width: 185px;
			margin: 23px 0;
			text-decoration: none;
			color: #000000;

			&:before{
				@include border-radius;
				@include linear-gradient($baseColor, $baseColor, 0%, $corClara, 50%, $corEscura, 40%, darken($baseColor, $amountDarken*2), 100%);	
				position: absolute;	
				left: -35px;
				top: 73%;
				border: none;
				content: counter(li);
				counter-increment: li;
				margin-top: -18px;
				height: 21px;
				width: 21px;
				line-height: 20px;	
				text-align: center;
				color: #ffffff;
				font:{
					weight: bold;
				}
			}
			&:hover{
				&:before{
					@include linear-gradient(darken($baseColor, $amountDarken*2), darken($baseColor, $amountDarken*2), 0%, $corEscura, 50%, $corClara, 40%, $baseColor, 100%);	
				}
			}
			&:active{
				&:before{
					@include linear-gradient(darken($baseColor, $amountDarken*2), darken($baseColor, $amountDarken*2), 0%, $corEscura, 50%, $corClara, 40%, $baseColor, 100%);
					@include box-shadow-inset;	
				}
			}
		} // final da tag a
	} //final da tag ol
} //final da classe indice