@import "../../_estiloPadrao.scss";



.modal-vertical-centered {
  transform: translate(0, 50%) !important;
  -ms-transform: translate(0, 50%) !important; /* IE 9 */
  -webkit-transform: translate(0, 50%) !important; /* Safari and Chrome */
}




// ---------------------------------------------------------Botões Modal -----------------------------------------------------------------
.botaoModal.modelo1{


			color: white;
			cursor: pointer;
			z-index: 1;

			width: 168px;
			height: 50px;
			text-align: center;
			background: #2793db;
			border: 2px solid #1a8ad2;
			background: -moz-linear-gradient(top, #2793db 0%, #1e8dd5 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2793db), color-stop(100%, #1e8dd5));
			background: -webkit-linear-gradient(top, #2793db 0%, #1e8dd5 100%);
			background: -o-linear-gradient(top, #2793db 0%, #1e8dd5 100%);
			background: -ms-linear-gradient(top, #2793db 0%, #1e8dd5 100%);
			background: linear-gradient(to bottom, #2793db 0%, #1e8dd5 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2793db', endColorstr='#1e8dd5',GradientType=0 );


				&:hover{
					background: #0ba4e7;
				}

				&:active {
					background: #216ad0;
				}

}

.botaoModal.modelo2{


			color: white;
			cursor: pointer;
			z-index: 1;

			width: 168px;
			height: 50px;
			text-align: center;
			border: 2px solid #e29000;
			background: #fbaf0b;
			background: -moz-linear-gradient(top, #fbaf0b 34%, #f7a600 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(34%, #fbaf0b), color-stop(100%, #f7a600));
			background: -webkit-linear-gradient(top, #fbaf0b 34%, #f7a600 100%);
			background: -o-linear-gradient(top, #fbaf0b 34%, #f7a600 100%);
			background: -ms-linear-gradient(top, #fbaf0b 34%, #f7a600 100%);
			background: linear-gradient(to bottom, #fbaf0b 34%, #f7a600 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbaf0b', endColorstr='#f7a600',GradientType=0 );

			 &:hover{
			      background: #fbaf0b;
			    }

			    &:active{
			      background: #e28f01;
			    }


		}



.botaoModal.modelo3{


			color: white;
			cursor: pointer;
			z-index: 1;

			border: 2px solid #199384;
			width: 168px;
			height: 50px;
			text-align: center;
			background: #3cc1b0; /* Old browsers */
			background: -moz-linear-gradient(top,  #3cc1b0 0%, #27ac9b 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3cc1b0), color-stop(100%,#27ac9b)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #3cc1b0 0%,#27ac9b 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #3cc1b0 0%,#27ac9b 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #3cc1b0 0%,#27ac9b 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #3cc1b0 0%,#27ac9b 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3cc1b0', endColorstr='#27ac9b',GradientType=0 ); /* IE6-9 */




				&:hover{
					background: #42c6b8;
				}

				&:active {
					background: #1a9384;
				}

}



.botaoModal.modelo4{


			color: white;
			cursor: pointer;
			z-index: 1;
			
			border: 2px solid #c25842;
			width: 168px;
			height: 50px;
			text-align: center;
			background: #e59c8d; /* Old browsers */
			background: -moz-linear-gradient(top,  #e59c8d 0%, #de7b68 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e59c8d), color-stop(100%,#de7b68)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #e59c8d 0%,#de7b68 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #e59c8d 0%,#de7b68 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #e59c8d 0%,#de7b68 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #e59c8d 0%,#de7b68 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e59c8d', endColorstr='#de7b68',GradientType=0 ); /* IE6-9 */





				&:hover{
					background: #e79f91;
				}

				&:active {
					background: #c25842;
				}

}



// --------------------------------------------------------Conteudo modal---------------------------------------------------------------

.tituloPrimeiroPlano{
  padding: 15px 20px;
  font:{
    size: 16px;
    weight: bold;
  }
}


.ppPequeno{
    width: 40%;
    h2{
      width: 220px;
    }
}

.ppMedio{
    width: 60%;
    h2{
      width: 517px;
    }
}

.ppGrande{
    width: 80%;
    h2{
      width: 80%;
    }
    .textoPrimeiroPlano{
        padding: 30px;
    }
}
