@import "../../_estiloPadrao.scss";



.modal-vertical-centered {
  transform: translate(0, 50%) !important;
  -ms-transform: translate(0, 50%) !important; /* IE 9 */
  -webkit-transform: translate(0, 50%) !important; /* Safari and Chrome */
}




// ---------------------------------------------------------Botões Modal -----------------------------------------------------------------
.botaoModal{
	background: #2793db;
	&:hover{
		background: #0ba4e7;
	}

	&:active {
		background: #216ad0;
	}
}

// --------------------------------------------------------Conteudo modal---------------------------------------------------------------

.tituloPrimeiroPlano{
  padding: 15px 20px;
  font:{
    size: 16px;
    weight: bold;
  }
}


.ppPequeno{
    width: 40%;
    h2{
      width: 220px;
    }
}

.ppMedio{
    width: 60%;
    h2{
      width: 517px;
    }
}

.ppGrande{
    width: 80%;
    h2{
      width: 80%;
    }
    .textoPrimeiroPlano{
        padding: 30px;
    }
}
