.primeiroPlano{
    min-height: 285px;
    /*max-height: 470px;*/
    h2{
        margin: 0px;
    }
}

.ppPequeno{
    width: 285px;
    height: 500px;

    #modalContent {
      height: 100%;
      width: 100%;
    }
}

.ppMedio{
    width: 580px;
    height: 500px;
    
    #modalContent {
      height: 100%;
      width: 100%;
    }
}

.ppGrande{
    width: 880px;
    height: 500px;

    #modalContent {
      height: 100%;
      width: 100%;
    }
}