.content{
	.revelar{
		position: relative;
		color: #FFFFFF;
		padding: 0;

		.fechaRevelar{
			position: absolute;
			top: 10px;
			right: 10px;
			height: 25px;
			width: 25px;
			background: #FFFFFF;
		}

		.contentCapa{
			font-family: $bold;
			font-size: 2.4em;
			line-height: 30px;
		}
		.tagP{
			padding: 1.5em;
			font-size: 1.4em;
			font-family: $regular;
		}
		
		.contentCapa, .tagP{
			@include border-radius(5px);
			position: absolute;
			height: 100%;
			width: 100%;
			display: table;
			text-align: center;
			background: $normal;
			border: 5px solid #dadae8;
			& > div{
				height: 100%;
				display: table;
			}
			span{
				display: table-cell;
				vertical-align: middle;
			}
		}

		.clickType, .hoverType{
			height: 100%;
			width: 100%;
		}

		//DROPDOWN 
		.dropDownType{
			display: none;
			.boxTitle{
				position: relative;
				height: 51px;
				width: 100%;

				.openCloseIcon{
					-webkit-border-top-left-radius: 5px;
					border-top-left-radius: 5px;
					background: $normal;
					height: 100%;
					width: 55px;
					float: left;
					border-right: 3px solid #FFFFFF;
					display: table;
					text-align: center;
					span{
						display: table-cell;
						vertical-align: middle;
					}
				}

				a.dropdown-toggle{ 
					-webkit-border-top-left-radius: 0px;
					border-top-left-radius: 0px;
					-webkit-border-top-right-radius: 5px;
					border-top-right-radius: 5px;
					width: -moz-calc(100% - 55px);
					width: -webkit-calc(100% - 55px);
					width: calc(100% - 55px);
					display: table;
					height: 100%;
					background: $normal;
					text-align: center;
					span{
						font-size: 1.6em;
						font-family: $bold;
						color: #FFFFFF;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						display: table-cell;
						vertical-align: middle;
					}
				}

				.dropdown-menu{
					@include border-top-radius(0);
					width: 100%;
					background: $fundoRevelar;
					box-shadow: none;
					border: none;
					margin-top: 5px;
					font-size: inherit !important;
					li{
						font-size: 1.6em;
						padding: 0.5em;
					}
					a:hover{
						background: none;
					}
				}
			}
		}

		//CLICK
		.clickType{
			display: none;
		}

		&.click{
			.clickType{
				display: none;
				.tagP{
					display: none;
				}
			}

			&.clicked{
				.clickType{
					.contentCapa{
						display: none;
					}
					.tagP{
						display: block;
					}
				}
			}
		}

		//HOVER
		.hoverType{
			display: none;
		}

		&.hover{
			.hoverType{
				display: none;
				.tagP{
					display: none;
				}
			}

			&.hovered{
				.hoverType{
					.contentCapa{
						display: none;
					}
					.tagP{
						display: block;
					}
				}
			}
		}
	}
}