.imagem.borda{
	@include border-radius;
	@include box-shadow;
	background: #ffffff;
	padding: 5px;
}

//-------------------- MOBILE --------------------

.imagem.mobile{
	position: relative;
	width: 95%;
	margin: 10px auto;
	img{
		width: 100%;
	}
}

.borda.mobile{
	@include border-radius(0);
	img{
		border: 0px;
		padding: 0px;
	}
}
