.atividade{
  min-width: 284px;
}



.atividade{

    .pergunta_atividade{
        padding: 30px 20px 15px 20px;
        .tagP{
            line-height: 20px;
            font:{
                size: 18px;
                weight: bold;
            }
        }
    }

    .alternativa_atividade{
        font-size: 14px;
        ul{
            margin: 0px;
            li{
                position: relative;
                padding: 15px 30px 10px 30px;               
                .addRemoveTemplate {
                    position: absolute;
                    right: 0px;
                    top: 0px;
                    display: none;
                    z-index: 1;
                }
                .checkOnDiv{
                    display: table-row;
                    .chkOrRadio, .tagP{
                        cursor: pointer;
                        display: table-cell;
                        vertical-align: middle;
                    }
                    .chkOrRadio{
                        margin: 0px 20px 0px 0px;
                        width: 25px;
                        height: 25px;
                    } 
                }
            }
            li:nth-child(2) .addRemoveTemplate #mbRemoveAlternative {
              display: none;
            }
            li:nth-child(5) .addRemoveTemplate #mbAddAlternative {
              display: none;
            }
        } 
    }
}


.onEdition2 .alternativa_atividade{
    li:last-child .addRemoveTemplate{
        display: block;
    }
}

.enviaResposta{
  margin:{
    right: 20px;
    bottom: 20px;
  }

  strong{
    display: block;
    padding:12px;
    text-align: center;
    font:{
      size:14px;
      weight:bold;
    }
  }
}

.caixaResposta{
  position: absolute;
  width: 316px;
  min-height: 80px;
  display: table;
  h2{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    margin: 0px;
    font:{
      size: 20px;
      weight: bold;
    } 
  }
}