@import "../../_estiloPadrao.scss";

.captivate{
  background: #bfdff5;
  width: 100%;
  margin: 0 auto;
  min-height: 498px;


 .captivateWrapper{
	 width:85%;
	 min-height:150px;
	 margin:0 auto;
	 position: relative;
	margin-bottom: $entreRecursos;

  img{
   width:100%;
   position: relative;
    top: -1PX;
  }

  iframe{

  }
 }
}

  .iframeWrapper{
     overflow: hidden;
    position: absolute;
    top: 5%;
    left: 9.5%;
    bottom: 13%;
    right: 9.5%;
    

  }



// .fullMargin{
//   background: red;
// width: 100%;
// z-index: 200;
// min-height: 796px;
// }

.btnFullScreen{

  background: #fbaf0b; /* Old browsers */
  background: -moz-linear-gradient(top,  #fbaf0b 34%, #f7a600 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(34%,#fbaf0b), color-stop(100%,#f7a600)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fbaf0b 34%,#f7a600 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fbaf0b 34%,#f7a600 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fbaf0b 34%,#f7a600 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fbaf0b 34%,#f7a600 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbaf0b', endColorstr='#f7a600',GradientType=0 ); /* IE6-9 */
  width: 13%;
  min-height: 45px;
  border: 1px solid #e29000;
  position: relative;
  margin: 0 auto;
  cursor: pointer;

    &:hover{
      background: #fbaf0b;
    }

    &:active{
      background: #e28f01;
    }
}

.btnTextoFull{
    color: white;
    font-family: "Exo 2", sans-serif;
    text-align: center;
    line-height: 50px;
    border: 1px solid black;
    width: 26%;
    border: 2px solid #e29000;
    text-align: center;
    background: #fbaf0b;
    background: -moz-linear-gradient(top, #fbaf0b 34%, #f7a600 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(34%, #fbaf0b), color-stop(100%, #f7a600));
    background: -webkit-linear-gradient(top, #fbaf0b 34%, #f7a600 100%);
    background: -o-linear-gradient(top, #fbaf0b 34%, #f7a600 100%);
    background: -ms-linear-gradient(top, #fbaf0b 34%, #f7a600 100%);
    background: linear-gradient(to bottom, #fbaf0b 34%, #f7a600 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbaf0b', endColorstr='#f7a600',GradientType=0 );
    font-family: "Exo 2", sans-serif;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    min-height: 50px;
    max-width: 328px;
    line-height: 50px;
    position: relative;
    left: 37%;
}

.margemBtnFullScreen{
      position: relative;
      z-index: 1;
      top: 11px;

   }




// @media only screen and (max-width : 768px) {

//   .iframeWrapper{
//    top: 10%;
//    left: 13.5%;
//    bottom: 22%;
//    right: 13.5%;

//  }

// }


// @media only screen and(max-width:480px){
//   .iframeWrapper{
//     top: 11%;
//   left: 15.5%;
//   bottom: 21%;
//   right: 15.5%;
//   }
// }


// @media only screen and(max-width:480px){
//   .iframeWrapper{
//     top: 15%;
//     left: 16.5%;
//     bottom: 24%;
//     right: 17.5%;
//   }
// }







