.texto{
	overflow: hidden;
	.textoSolto{
		font-size: $textFontSize;
		ul, ol{
			li{
				margin-top: 7px;
				margin-bottom: 7px;
			}
		}
		.imgEsq{
			float:left;
			width: 49%;
			margin-right: 30px;
		}

		.imgDir{
			float:right;
			width: 49%;
			margin-left: 30px;
		}

		.textoCitacao{
			font-family: $black;
			font-size: 21px; //inserido em px pois herdará o 1.5em do textoSolto, que é considerado o padrão
			line-height: 30px;
			&:after{
				content: '”';
				font-size: 60px;
				position: absolute;
				margin-left: 5px;
				bottom: -25px;
			}
			&:before{
				content: '“';
				font-size: 60px;
				top: 25px;
				position: relative;
				margin-right: 5px
			}
		}

		.textoDestaque{
			font-family: $regular;
			color: $normal;
			font-size: 22px;
			line-height: 34px;
		}
	}

	.underlineTitle{
		position: absolute;
		width: 100%;
		height: 4px;
		bottom: 0px;
		background: $hover;
		z-index: -1;
	}

	&.normal .textoSolto{
		font-size: $textFontSize;
		line-height: $textLineHeight;
		font-family: $regular;
	}

	&.title .textoSolto{
		font-size: 2.6em;
		line-height: 30px;
		font-family: $bold;
		color: $normal;
		text-transform: uppercase;
	}

	&.subtitle{
		.wrapper{
			display: table;
			margin: initial;
		}
		.textoSolto{
			font-size: 3em;
			line-height: 30px;
			font-family: $bold;
			color: $normal;
			display: table-cell;
			font-variant: small-caps;
		}
		.underlineTitle{
			display: table-cell;
			bottom: 6px;
			margin-left: 5px;

		}
	}
} 


.texto.quadro{
	@include border-radius(5px);
}



