@import "../../_estiloPadrao.scss";



// ********************* Variáveis ****************************
	$alturaBarra: 56px;
	$corFundo: darken($verde, 5%);
	$corFonteMod1: #FFF;

	$fonte: 'Exo 2',sans-serif;

	$corFundoMod2: $cinza;
	$corFonteMod2: darken($verde, 5%);



// ************************************************************


.tituloConteudo.modelo1{
	width: 100%;
	min-height: $alturaBarra;
	width: 100%;
	border-radius: 12px;
	background: $corFundo;
	position: relative;
	margin-top: 2%;
	margin-bottom: 2%;

}


.textoModelo1{
	position: relative;
	font-size: 1.9em;
	margin: 0px auto;
	width: 89%;
	top: 10px;
	color: $corFonteMod1;
	text-transform: uppercase;
	font-family:$fonte;
}



.tituloConteudo.modelo2{
	width: 100%;
	min-height: $alturaBarra;
	width: 100%;
	border-radius: 12px;
	background: $corFundoMod2;
	position: relative;
	margin-top: 2%;
	margin-bottom: 2%;

}



.textoModelo2{
	position: relative;
	font-size: 1.9em;
	margin: 0px auto;
	width: 89%;
	top: 10px;
	color: $corFonteMod2;
	text-transform: uppercase;
	font-family:$fonte;
}