@import "../../_estiloPadrao.scss";



.msg-confirmacao {
    background: #e0efd8;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border: 1px solid #d6e9c6;
}


.msg-erro{
	background: #f2dedf;
	box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border: 1px solid #eed3d7;
}

.msg-informacao{
	background:#d9edf6;
	box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border: 1px solid #bce8f1;
}

.msg-espera{
	background: #fdf8e4;
	box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border: 1px solid #fbeed5;
}

.msg {
    min-height: 44px;
	border-radius: 6px;
	width: 100%;
	line-height: 44px;
	position: relative;

}

.msg-btn {
    font-size: 2em;
    position: relative;
    right: 5px;
    top: 8px;
}

.msg-box-confirmacao, .msg-box-erro, .msg-box-espera, .msg-box-informacao {
    height: auto;
	min-height: 29px;
	overflow: auto;
	overflow-y: hidden;
	padding-left: 30px;
	padding-right: 30px;

}


.msg-icon-confirmacao, .msg-icon-erro, .msg-icon-espera, .msg-icon-informacao {
    color: #478846;
    font-size: 3.5em;
    padding: 10px 10px 10px 30px;
}
.icon {

    font-family: pv-agr-prec;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

// .fecharMensagem.confirmacao{
// 	cursor: pointer;
// 	font-family: 'Entypo';
// 	position: absolute;
// 	float: right;
// 	top: -16px;
// 	right: 5px;
// 	border-radius: 36px;
// 	color: green;
// 	font-size: 35px;
// }

// .fecharMensagem.erro{
// 	cursor: pointer;
// 	font-family: 'Entypo';
// 	position: absolute;
// 	float: right;
// 	top: -16px;
// 	right: 5px;
// 	border-radius: 36px;
// 	color: #9E6F72;
// 	font-size: 35px;
// }

.fecharMensagem.informacao{
	cursor: pointer;
	font-family: 'Entypo';
	position: absolute;
	float: right;
	top: -16px;
	right: 5px;
	border-radius: 36px;
	/* background: #478846; */
	color: #3987ae;
	font-size: 35px;
	
}

.fecharMensagem.espera{
	cursor: pointer;
	font-family: 'Entypo';
	position: absolute;
	float: right;
	top: -16px;
	right: 5px;
	border-radius: 36px;
	/* background: #478846; */
	color: #c19953;
	font-size: 35px;

}


.msg-box-confirmacao span {
	color: #478846;
	font-family: $fonteOpenSans;
	font-size: 1em;
	font-weight: bolder;
	float: left;
	margin-right: 5px;
	}

.msg-box-erro span{ 
	color: #ba4a48;
	font-family: $fonteOpenSans;
	font-size: 1em;
	font-weight: bolder;
	float: left;
	margin-right: 5px;
	} 


.msg-box-espera span{
	color: #c19953;
	font-family: $fonteOpenSans;
	font-size: 1em;
	font-weight: bolder;
	float: left;
	margin-right: 5px;
}

.msg-box-informacao span {
	color: #3987ae;
	font-family: $fonteOpenSans;
	font-size: 1em;
	font-weight: bolder;
	float: left;
	margin-right: 5px;
}


.msg-box-confirmacao p {
	color: #478846;
	font-family: $fonteOpenSans;
	font-size: 1em;
	font-weight: 400;
	margin-left: 22px;
	float: left;
	display: block;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	}

.msg-box-erro p{ 
	color: #ba4a48;
	font-family: $fonteOpenSans;
	font-size: 1em;
	font-weight: 400;
	margin-left: 22px;
	float: left;
	display: block;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	} 


.msg-box-espera p{
	color: #c19953;
	font-family: $fonteOpenSans;
	font-size: 1em;
	font-weight: 400;
	margin-left: 22px;
	float: left;
	display: block;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
}

.msg-box-informacao p {
	color: #3987ae;
	font-family: $fonteOpenSans;
	font-size: 1em;
	font-weight: 400;
	margin-left: 22px;
	float: left;
	display: block;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
}

@media only screen and (max-width : 424px) {
	.msg-box-confirmacao p {
		margin-top: -20px;

	}

	

}


@media only screen and (max-width : 414px) {
	

	.msg-box-informacao p {
		margin-top: -20px;

	}

}


@media only screen and (max-width : 375px) {
	 


	.msg-box-espera p{
		margin-top: -20px;

	}

}

@media only screen and (max-width : 356px) {
	 


	.msg-box-erro p{ 
		margin-top: -20px;

	} 


}