// @import "compass/utilities/sprites";
// @import "icons/*.png";
// @include all-icons-sprites;

body{
    max-width: 1920px;
    overflow-y: visible;
    font-size: 10px !important;
}

.wrapperUnasus{
	.mainNavBar{
		@include border-radius(0); 
		position: fixed;
		left: 0;
		width: 100%;
		z-index: 10;
		background: $baseColor;
		border: none;
		border-bottom: 2px solid #FFFFFF;
		.navbar-header{
			.scoNameBlock{
				display: none;
			}
		}
		.navbar-collapse{
			max-width:830px; 
			margin:0 auto;
			img{
				float: left;
				height: 100%;
				padding: 13px;
			}
		}
		.nav.navbar-nav{
			float: right;
			h1{//
				font-size: 1.8em;
				font-family: $bold;
				color: $normal;
			}//
			.dropdown{//
				@include border-radius(5px);
				width: 200px;
				height: 30px;
				background: $visited;
				padding: 0;
				.dropdown-toggle{
					@include border-radius(5px);
					padding: 0;
					font-size: 11px;
					font-family: $black;
					color: $normal;
					height: 100%;
					text-transform: uppercase;
					span.dpText{
						width: 168px;
						float: right;
						text-align: center;
						padding-top: 6px;
					}
					span.caret{
						position: relative;
						float: left;
						height: 100%;
						width: 32px;
						margin: 0px;
						-webkit-border-top-left-radius: 5px;
						border-top-left-radius: 5px;
						-webkit-border-bottom-left-radius: 5px;
						border-bottom-left-radius: 5px;
						border: 0;
						border-right: 2px solid $hover;
						&:after{
							content: "";
							position: absolute;
							width: 0; 
							height: 0; 
							border-left: 6px solid transparent;
							border-right: 6px solid transparent;
							border-top: 10px solid $normal;
							left: 9px;
							top: 12px;
						}
					}
				}

				&.open{
					@include border-radius(5px);
					.dropdown-toggle{
						background: $visited;
						span.caret{
							&:after{
								border-top: none;
								border-left: 6px solid transparent;
								border-right: 6px solid transparent;
								border-bottom: 10px solid $normal;
							}
						}
					}

					.dropdown-menu{
						background: $visited;
						width: 100%;
						border-radius: 0;
						margin: 2px 0px 2px 0px;
						border: 0;
						.divider{
							background: $normal;
						}
						li a{
							font-family: $regular;
							color: $normal;
							white-space: normal;
							&:hover{
								background: none;
								font-family: $bold;
							}
						}
					}
				}
			}//
		}
	}
}

.content.container-fluid{
	max-width: 1021px;
	padding: 0;
	padding-top: 100px;
}


































ul{
	list-style-image:url(assets/images/bullet.png);
	counter-reset: section;
		li{
			background-position: 0px 100%;
			padding-left: 5px;
			line-height: 24px;
			color: #373838;
			font-size: 16px;
			margin-right: 10px;
			font-family: $regular;
		}
}


ol{
	list-style-type: none;
	counter-reset: ol-counter;
	padding: 0;

	li{

			 background-position: 0px 100%;
    		padding-left: 25px;
			line-height: 24px;
			color: #373838;
			font-size: 16px;
			margin-right: 10px;
			font-family: $regular;
		&:before{
			font-weight: bold;
			margin-right: 6px;
			color: #f59e00;
			content: counter(ol-counter)".";
			counter-increment: ol-counter;
			
			
		}

	}

}


.wrapper {
	height: auto;
	margin: 0 auto;
	max-width: 790px;
	position: relative;
}

.wrapperMargin {
	margin-bottom:40px;
}


.hiddenAnimate{
     opacity:0;
}
.visible{
     opacity:1;
}

 			 	  					

.content{

	.iframeContent{
		position:fixed;
		width: 100%;
		height: 100%;
		display: none;
		z-index: 10;
		background: #2f2f2f;
		left: 0px;

	.telaCheiaIframe{
		width: 100%;
		height: 100%;
		z-index: 30;
		left: 0px;
		right: 0px;
		top: 0px;
		bottom: 0px;
	}

	.fechartelacheia {
			z-index: 999;
			border: 1px solid #e18f00;
			text-align: center;
			cursor: pointer;
			background: #fbaf0b;
			background: -moz-linear-gradient(top, #fbaf0b 34%, #f7a600 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(34%, #fbaf0b), color-stop(100%, #f7a600));
			background: -webkit-linear-gradient(top, #fbaf0b 34%, #f7a600 100%);
			background: -o-linear-gradient(top, #fbaf0b 34%, #f7a600 100%);
			background: -ms-linear-gradient(top, #fbaf0b 34%, #f7a600 100%);
			background: linear-gradient(to bottom, #fbaf0b 34%, #f7a600 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbaf0b', endColorstr='#f7a600',GradientType=0 );
			font-family: "Exo 2", sans-serif;
			cursor: pointer;
			font-weight: bold;
			font-size: 18px;
			min-height: 50px;
			max-width: 328px;
			line-height: 50px;
			padding-right: 30px;
			padding-left: 30px;
			color: #ffffff;
			margin: 0 auto;
			display: none;
			position: relative;
			opacity: 0.78;
			top: 1px;
			

		

		&:hover{
      background: #fbaf0b;
  		 }

	    &:active{
	      background: #e28f01;
	    }


		}

	}

}





